@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --color-primary: #e95a08;
  --extra-font: "Noto Serif", serif;
  --text-gray: rgba(0, 0, 0, 0.5);
}

/* shared section style here */
.display-flex {
  display: flex;
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
  padding: 20px 50px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.header-section {
  margin: 0 auto;
  justify-items: center;
}

.header-title {
  font-size: 3.12rem;
  font-weight: 700;
  font-family: var(--extra-font);
}

.header-title span {
  color: var(--color-primary);
  font-family: var(--extra-font);
}

.header-section .sub-title {
  max-width: 888px;
  font-size: 1.37rem;
  color: var(--text-gray);
  text-align: center;
  margin-top: 16px;
}

/* width section here */
.navbar,
section {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation bar section style here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  /* border: 2px solid tomato; */
}

.logo {
  max-width: 135px;
}

.logo img {
  width: 100%;
}

.nav-manu ul li {
  list-style: none;
  margin-right: 48px;
}

.nav-manu a {
  text-decoration: none;
  color: black;
}

.nav-link {
  font-weight: 700;
}

.nav-manu .nav-link2 {
  color: #8987a1;
}

/* banner section style here */
.banner {
  height: 461px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 120px;
  margin-bottom: 120px;
  /* border: 2px solid tomato; */
}

.banner-content {
  max-width: 570px;
  /* border: 2px solid tomato; */
}

.banner-title {
  font-size: 4.06rem;
  font-weight: 700;
  font-family: var(--extra-font);
}

.banner-content span {
  color: var(--color-primary);
  font-family: var(--extra-font);
}

.banner-description {
  font-size: 1.37rem;
  color: var(--text-gray);
  margin-top: 13px;
}

.banner-image {
  max-width: 570px;
  /* border: 2px solid tomato; */
}

.banner-image img {
  width: 100%;
  display: block;
}

/* Our Plants section style here */
.our-plants {
  margin-bottom: 200px;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}

.plants-card {
  max-width: 270px;
  text-align: center;
}

.plants-card img {
  width: 100%;
  margin-bottom: 30px;
}

.plants-abouts .name {
  font-size: 1.37rem;
  font-weight: 500;
}

.plants-abouts .cost {
  font-size: 1.37rem;
  font-weight: 700;
  margin-top: 12px;
}

.plants-card button {
  width: 100%;
  margin-top: 30px;
}

/* small device responsive media query */
@media screen and (max-width: 576px) {
  .navbar {
    max-width: 95%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .logo {
    max-width: 90px;
    max-height: 50px;
  }

  .logo img {
    width: 100%;
  }

  .nav-manu ul {
    display: none;
  }

  .nav-manu p {
    font-size: 1.12rem;
    font-weight: 700;
  }

  .banner {
    flex-direction: column-reverse;
    height: auto;
    gap: 28px;
    margin-top: 28px;
  }

  .banner-content {
    max-width: 90%;
    margin: 0 auto;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-description {
    text-align: justify;
  }

  .header-section {
    width: 90%;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .header-section .sub-title {
    width: 95%;
  }

  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
