@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --color-primary: #e95a08;
  --extra-font: "Noto Serif", serif;
  --text-gray: rgba(0, 0, 0, 0.5);
}

/* shared section style here */
.display-flex {
  display: flex;
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
  padding: 20px 50px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.header-section {
  margin: 0 auto;
  justify-items: center;
}

.header-title {
  font-size: 3.12rem;
  font-weight: 700;
  font-family: var(--extra-font);
}

.header-title span {
  color: var(--color-primary);
  font-family: var(--extra-font);
}

.header-section .sub-title {
  max-width: 880px;
  font-size: 1.37rem;
  color: var(--text-gray);
  text-align: center;
  margin-top: 16px;
}

/* width section here */
.navbar,
section {
  max-width: 1140px;
  margin: 0 auto;
}

.join,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

/* Navigation bar section style here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  /* border: 2px solid tomato; */
}

.logo {
  max-width: 135px;
}

.logo img {
  width: 100%;
}

.nav-manu ul li {
  list-style: none;
  margin-right: 48px;
}

.nav-manu a {
  text-decoration: none;
  color: black;
}

.nav-link {
  font-weight: 700;
}

.nav-manu .nav-links {
  color: #8987a1;
}

/* banner section style here */
.banner {
  height: 461px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 120px;
}

.banner-content {
  max-width: 570px;
}

.banner-title {
  font-size: 4.06rem;
  font-weight: 700;
  font-family: var(--extra-font);
}

.banner-content span {
  color: var(--color-primary);
  font-family: var(--extra-font);
}

.banner-description {
  font-size: 1.37rem;
  color: var(--text-gray);
  margin-top: 13px;
}

.banner-image {
  max-width: 570px;
}

.banner-image img {
  width: 100%;
  display: block;
}

/* Our Plants section style here */
.our-plants {
  margin-top: 120px;
}

.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 50px;
}

.plants-card {
  max-width: 270px;
  text-align: center;
}

.plants-card img {
  width: 100%;
  margin-bottom: 30px;
}

.plants-abouts .name {
  font-size: 1.37rem;
  font-weight: 500;
}

.plants-abouts .cost {
  font-size: 1.37rem;
  font-weight: 700;
  margin-top: 16px;
}

.plants-card button {
  width: 100%;
  margin-top: 30px;
}

/* plants lover section style here */

.plants-lover {
  margin-top: 210px;
  position: relative;
}

.plants-lover-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plants-lover-image {
  max-width: 540px;
  max-height: 597px;
}

.plants-lover-image img {
  width: 100%;
}

.plants-lover-content {
  max-width: 540px;
}

.plants-lover-content .title {
  font-size: 3.12rem;
  font-weight: 700;
  font-family: var(--extra-font);
  margin-bottom: 10px;
}

.plants-lover-content ul li {
  font-size: 1.37rem;
  color: var(--text-gray);
  text-align: justify;
  margin-top: 20px;
  margin-left: 35px;
}

.plants-image {
  max-width: 286px;
  max-height: 286px;
  position: absolute;
  top: -127px;
  left: 347px;
}

.plants-image img {
  width: 100%;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* challenges section style here */
.challenges {
  margin-top: 133px;
}

.card-layout-container {
  max-width: 100%;
  height: 425px;
  display: grid;
  column-gap: 24px;
  row-gap: 20px;
  grid-template-areas:
    "left-side  right-side right-side right-side"
    "left-sides right-side  right-side  right-side";
  margin-top: 120px;
}

.left-side {
  grid-area: left-side;
}

.left-sides {
  grid-area: left-sides;
}

.right-side {
  grid-area: right-side;
}

.left-side {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-sides {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-title {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--extra-font);
  color: white;
}

.left-sub-title {
  font-weight: 500;
  color: white;
  text-decoration: underline;
  margin-top: 15px;
}

.right-side {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-title {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--extra-font);
  color: white;
}

.right-sub-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
  text-decoration: underline;
  margin-top: 15px;
}

/* join section style here */
.join {
  height: 533px;
  background-image: linear-gradient(rgba(7, 51, 79, 0.4)),
    url("../assets/news-letter-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}

.input-section {
  max-width: 800px;
  width: 100%;
}

.join-title {
  font-size: 3.12rem;
  font-weight: 700;
  font-family: var(--extra-font);
  color: white;
  margin-bottom: 23px;
}

.input-form input {
  border: none;
  outline: none;
  padding: 8px 20px;
  background-color: white;
  width: 100%;
  height: 50px;
  position: relative;
}

.input-form input::placeholder {
  color: var(--text-gray);
}

.input-form .submit-btn {
  padding: 18px 50px;
  position: absolute;
  margin-left: -164px;
}

/* footer section style here */
footer {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer-section {
  width: 77.78%;
  height: 248px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  max-width: 360px;
}

.footer-logo figure {
  width: 100%;
}

.footer-logo p {
  font-size: 1.37rem;
  color: var(--text-gray);
  text-align: justify;
  margin-top: 16px;
}

.footer-manu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-section ul li {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #6b7280;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icon {
  max-width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* small device responsive media query */
@media screen and (max-width: 576px) {
  .navbar {
    max-width: 90%;
    align-items: flex-end;
  }

  .logo {
    max-width: 90px;
    max-height: 50px;
  }

  .logo img {
    width: 100%;
  }

  .nav-manu ul {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    height: auto;
    gap: 28px;
    margin-top: 28px;
  }

  .banner-content {
    max-width: 90%;
    margin: 0 auto;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    text-align: justify;
  }

  .our-plants {
    margin-top: 65px;
  }

  .header-section {
    max-width: 90%;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-section .sub-title {
    max-width: 97%;
  }

  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .plants-lover {
    max-width: 90%;
    margin-top: 41px;
  }

  .plants-lover-container {
    flex-direction: column;
    gap: 18px;
  }

  .plants-image {
    display: none;
  }

  .plants-lover-content .title {
    font-size: 2rem;
  }

  .plants-lover-content ul li {
    margin-left: 22px;
  }

  .challenges {
    height: 100%;
    margin-top: 143px;
  }

  .card-layout-container {
    max-width: 90%;
    min-height: 800px;
    grid-template-areas:
      "left-side"
      "left-sides"
      "right-side";
    row-gap: 45px;
    margin: 50px auto 0 auto;
  }

  .left-title,
  .right-title {
    font-size: 1.4rem;
  }

  .left-sub-title,
  .right-sub-title {
    font-size: 1rem;
  }

  .left-side {
    height: 110%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
      url("../assets/deal-bloom.png");
  }
  .left-sides {
    height: 110%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
      url("../assets/deal-ana.png");
    border-radius: 0;
  }

  .right-side {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
      url("../assets/deal-zabo.png");
    border-radius: 14px;
  }

  .join {
    height: 450px;
    margin-top: 50px;
  }

  .join .input-section {
    max-width: 80%;
  }

  .join-title {
    font-size: 2rem;
  }

  .input-form input {
    width: 100%;
  }

  .input-form .submit-btn {
    padding: 18px 36px;
    margin-left: -135px;
    margin-top: -1px;
  }

  footer {
    height: auto;
    padding: 50px 0;
  }

  .footer-logo {
    max-width: 100%;
  }

  .footer-section {
    width: 90%;
    height: auto;
    flex-direction: column;
    gap: 20px;
    /* padding-right: 120px; */
  }
}
